body {
  margin: 0;
  background-image: url(https://pixabay.com/get/gd32c19fd76bdd40d2ff66eae61d908b0bbe0896573e7e61405d88d9d98675411aaa2cb738481a45e47d0d2fc77fc375745dbbe73a87164f34f80b9d267346a6f_1920.jpg);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
